body {
   margin: 0;
   font-family: Georgia, "Times New Roman";
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   -ms-overflow-style: none;
   scrollbar-width: none;
   padding-top: 60px;
   background-color: rgb(0, 0, 0);
 }
 
 body, html {
  margin: 0;
  height: 100%;
 }

text{
   color: #ff00b4
}

 body::-webkit-scrollbar {
   display: none;
 }
 
 .navbar {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 19, 240, 0.7);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   padding: 1rem;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: auto;
   min-height: 60px;
   transition: opacity 0.5s ease;
   z-index: 1000;
 }
 
 .nav-links {
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   z-index: 2;
   width: 100%;
   max-width: 1200px;
   justify-content: space-between;
 }
 
 .nav-links-left,
 .nav-links-right {
   display: flex;
   width: 40%;
 }
 
 .nav-links-left {
   justify-content: flex-end;
 }
 
 .nav-links-right {
   justify-content: flex-start;
 }
 
 .nav-links li {
   margin: 0 1rem;
 }
 
 .nav-links a {
   text-decoration: none;
   color: #000;
   font-weight: bold;
   transition: color 0.3s ease;
   font-size: 1rem;
   white-space: nowrap;
 }
 
 .nav-links a:hover,
 .nav-links a.active {
   color: #ff00b4;
 }
 
 .logo {
   position: absolute;
   top: 100%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   width: 150px;
 }
 
 .logo img {
   height: auto;
   width: 100%;
   max-width: 150px;
 }
 
 .nav-links a::after {
   content: "";
   display: block;
   width: 0;
   height: 2px;
   background: #ff00b4;
   transition: width 0.3s;
 }
 
 .nav-links a:hover::after,
 .nav-links a.active::after {
   width: 100%;
 }
 
 section {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2rem;
   box-sizing: border-box;
   text-align: center;
 }
 
 section h1,
 section h2 {
   font-size: 2.5em;
   color: white;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   margin-bottom: 1rem;
 }
 
 section p {
   font-size: 1.2em;
   color: white;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
   max-width: 800px;
   margin: 0 auto;
 }

.slider-video {
    width: 900px;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
}

.slider-video-aspect {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider-video-scroll {
    height: 800px;
    position: relative;
}




.slider-video-item {
    background: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in;
    padding: 10px;
    transform-origin: 50% 50%;
    transform: translate3d(0, 0, 0);
}

.slider-video-pic {
    height: 100%;
    width: 100%;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
}

    .slider-video-pic:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -37.5px;
        margin-top: -37.5px;
        width: 75px;
        height: 75px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI1MCIgb3BhY2l0eT0iLjciLz48cGF0aCBmaWxsPSIjNzU3NTc1IiBkPSJNODUuMyA1MEw1Ny4xIDY0LjUgMjguOSA3OVYyMWwyOC4yIDE0LjV6Ii8+PC9zdmc+);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }

    .slider-video-pic:not(.active):hover {
        cursor: pointer;
    }

        .slider-video-pic:not(.active):hover:before {
            opacity: 1;
            visibility: visible;
        }

.slider-video-caption {
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    opacity: 0.4;
    transition: all 0.3s ease;
}

.slider-video-item:hover .slider-video-caption {
    opacity: 1;
}



.slider-video-play,
.slider-video-play iframe {
    height: 100%;
    width: 100%;
    border: 0;
}

.slider-video-item.active,
.slider-video-item.active-out {
    z-index: 2;
}

.slider-video-item:not(.active):hover {
    z-index: 1;
    transform: scale(1.2);
}

.slider-video-close {
    position: absolute;
    z-index: 1;
    top: 0;
    margin: 10px;
    right: 0;
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    color: #fff;
    padding: 0;
    font-size: 25px;
    line-height: 25px;
    background: rgba(255,255,255,0.3);
    outline: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

    .slider-video-close:hover {
        cursor: pointer;
        background-color: rgba(255,255,255,0.7);
        color: #000;
    }

.slider-video-play {
    display: none;
}

    .slider-video-play:hover .slider-video-close {
        visibility: visible;
        opacity: 1;
        transition: none;
    }




.slider-video-left,
.slider-video-right {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 0px;
    font-size: 20px;
    height: 40px;
    width: 30px;
    outline: none;
}

.slider-video-left {
    left: 0;
}

.slider-video-right {
    right: 0;
}

    .slider-video-left:hover,
    .slider-video-right:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,0.2);
    }

    .slider-video-left:before,
    .slider-video-right:before {
        content: '';
        width: 30px;
        height: 30px;
        display: block;
        background-position: center center;
        background-size: 100%;
    }

.slider-video-left:before {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDEyOSAxMjkiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyOSAxMjkiIHdpZHRoPSI1MTJweCIgaGVpZ2h0PSI1MTJweCI+ICA8Zz4gICAgPHBhdGggZD0ibTg4LjYsMTIxLjNjMC44LDAuOCAxLjgsMS4yIDIuOSwxLjJzMi4xLTAuNCAyLjktMS4yYzEuNi0xLjYgMS42LTQuMiAwLTUuOGwtNTEtNTEgNTEtNTFjMS42LTEuNiAxLjYtNC4yIDAtNS44cy00LjItMS42LTUuOCwwbC01NCw1My45Yy0xLjYsMS42LTEuNiw0LjIgMCw1LjhsNTQsNTMuOXoiIGZpbGw9IiNGRkZGRkYiLz4gIDwvZz48L3N2Zz4=);
}

.slider-video-right:before {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDEyOSAxMjkiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyOSAxMjkiIHdpZHRoPSI1MTJweCIgaGVpZ2h0PSI1MTJweCI+ICA8Zz4gICAgPHBhdGggZD0ibTQwLjQsMTIxLjNjLTAuOCwwLjgtMS44LDEuMi0yLjksMS4ycy0yLjEtMC40LTIuOS0xLjJjLTEuNi0xLjYtMS42LTQuMiAwLTUuOGw1MS01MS01MS01MWMtMS42LTEuNi0xLjYtNC4yIDAtNS44IDEuNi0xLjYgNC4yLTEuNiA1LjgsMGw1My45LDUzLjljMS42LDEuNiAxLjYsNC4yIDAsNS44bC01My45LDUzLjl6IiBmaWxsPSIjRkZGRkZGIi8+ICA8L2c+PC9zdmc+);
}

 @media (max-width: 1200px) {
   .nav-links-left,
   .nav-links-right {
     width: 45%;
   }
 }
 
 @media (max-width: 992px) {
   .nav-links-left,
   .nav-links-right {
     width: 48%;
   }
 
   section h1,
   section h2 {
     font-size: 2.2em;
   }
 
   section p {
     font-size: 1.1em;
   }
 }
 
 @media (max-width: 768px) {
   .navbar {
     flex-direction: column;
     padding: 0.5rem;
     height: auto;
   }
   .nav-links {
     width: 100%;
     flex-direction: row;
     justify-content: center;
     position: static;
     transform: none;
     left: auto;
   }
   .nav-links-left,
   .nav-links-right {
     width: auto;
     justify-content: center;
   }
   .nav-links li {
     margin: 0.25rem 0.5rem;
   }
   .logo {
     position: absolute;
     top: 0.5rem;
     right: 0.5rem;
     left: auto;
     transform: none;
     width: 60px;
   }
   .logo img {
     width: 100%;
   }
   section {
     padding-top: 120px;
   }
 }
 
 @media (max-width: 480px) {
   .navbar {
     padding: 0.25rem;
   }
   .nav-links {
     flex-wrap: wrap;
   }
   .nav-links a {
     font-size: 0.9rem;
   }
   .logo {
     width: 50px;
   }
   section h1,
   section h2 {
     font-size: 1.8em;
   }
   section p {
     font-size: 0.9em;
   }
 }
 
 @media (max-width: 360px) {
   .nav-links li {
     margin: 0.15rem 0.25rem;
   }
   .nav-links a {
     font-size: 0.8rem;
   }
   section h1,
   section h2 {
     font-size: 1.6em;
   }
   section p {
     font-size: 0.8em;
   }
 }
 .form{
   width: 650px;
}
.form-text{
   text-align: center;
   margin: 0 0 40px 0;
}
.form-text h1 span img{
   margin: 0 10px;
}
.form-text h1{
   color: #fff;
   font-family: Georgia, "Times New Roman";
   font-size: 40px;
   margin-bottom: 20px;
}
.form-text p{
   color: #fff;
   font-family: Georgia, "Times New Roman";
   font-size: large;
}
.main-form div{
   margin: 10px 10px;
   width: 300px;
   display: inline-block;
}
.main-form div input {
   width: 100%;
   font-family: Georgia, "Times New Roman";
   background: none;
   border: 1px solid #ffca00;;
   font-size: 20px;
   color: #fff;
   outline: none;
   padding: 3px 0 3px 10px;
   margin-top: 10px;
}
.main-form div select{
   width: 104%;
   font-family: Georgia, "Times New Roman";
   background: none;
   border: 1px solid #ffca00;;
   font-size: 20px;
   color: #fff;
   outline: none;
   padding: 3px 0 3px 10px;
   margin-top: 10px;
}
.main-form div span{
   width: 100%;
   font-family: Georgia, "Times New Roman";
   color: #fff;
   font-size: 25px;
}
#submit{
   width: 100%;
   text-align: center;
}
#submit input{
   font-family: Georgia, "Times New Roman";
   width: 200px;
   background-color: yellow !important;
   color: black !important;
   transition: all .3s;
}
#submit input:hover{
   font-family: Georgia, "Times New Roman";
   width: 200px;
   background-color: black !important;
   color: #fff !important;
}
#submit input:active{
   font-size: 19px;
   background-color: rgb(46, 20, 5) !important;
   color: #fff !important;
}
@media (max-width: 768px) {
   .main-form{
       text-align: center;
   }
}
